.container {
  position: sticky;
  top: 65px;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  min-width: 5em;
  width: 5em;
  margin: 0;
}
