.container {
  background-color: rgb(211, 211, 211, 0.3);
  width: 100%;
  display: flex;
  justify-content: center;
}

.videolist {
  display: flex;
  flex-wrap: wrap;
  max-width: 1600px;
  margin: 0;
  padding: 1rem;
  min-width: 800px;
}
